# **Final Project**

### **Soal 1**

In [1]:
def price_to_book_value(price, book_value):
    if len(book_value) == 1:
        return price / book_value[0]
    else:
        bookValue = book_value[0] / book_value[1]
        return price / bookValue

price = int(input("Masukkan harga saham: "))
book_value = list(map(int, input("Masukkan harga BVPS atau banyak saham dan nilai ekuitas: ").split()))
print(price_to_book_value(price, book_value))

0.005

### **Soal 2**

In [91]:
import pandas as pd

In [92]:
def stock_recommendation(name, market_price, bvps):
  if len(bvps) == 1:
    def PBV(market_price, bvps):
      return market_price / bvps[0]
  else:
    def PBV(market_price, bvps):
      return market_price / (bvps[0] / bvps[1])

In [93]:
def PBV_BVPS(market_price, bvps):
  return market_price / bvps
def PBV_Equity(market_price, equity, stocks):
  return market_price / (equity / stocks)

In [94]:
def quick_sort(arr):
  if len(arr) <= 1:
      return arr

  pivot = arr[-1]

  left = [x for x in arr[:-1] if x <= pivot]
  right = [x for x in arr[:-1] if x > pivot]

  return quick_sort(right) + [pivot] + quick_sort(left)

In [95]:
data = pd.read_csv('stocks_data.csv')
data.head()

              STOCK_NAME TICKER_SYMBOL  MARKET_PRICE  BOOK_VALUE_PER_SHARE
0             Apple Inc.          AAPL        197.91                 23.49
1  Microsoft Corporation          MSFT        423.46                 20.78
2       Amazon.com, Inc.          AMZN        157.89                 12.35
3          Alphabet Inc.         GOOGL        138.90                 15.78
4            Tesla, Inc.          TSLA        242.36                 10.34

In [96]:
data['PBV'] = PBV_BVPS(data['MARKET_PRICE'], data['BOOK_VALUE_PER_SHARE'])
data

,STOCK_NAME,TICKER_SYMBOL,MARKET_PRICE,BOOK_VALUE_PER_SHARE,PBV
0,Apple Inc.,AAPL,197.91,23.49,8.425287
1,Microsoft Corporation,MSFT,423.46,20.78,20.378248
2,"Amazon.com, Inc.",AMZN,157.89,12.35,12.784615
3,Alphabet Inc.,GOOGL,138.90,15.78,8.802281
4,"Tesla, Inc.",TSLA,242.36,10.34,23.439072
5,"Meta Platforms, Inc.",META,311.22,18.45,16.868293
6,NVIDIA Corporation,NVDA,469.56,27.33,17.181120
7,The Walt Disney Company,DIS,93.76,12.45,7.530924
8,"Netflix, Inc.",NFLX,412.45,20.22,20.398121
9,"Advanced Micro Devices, Inc.",AMD,101.89,8.90,11.448315
10,"PepsiCo, Inc.",PEP,180.44,10.23,17.638319
11,Coca-Cola Company,KO,60.32,5.43,11.108656
12,Intel Corporation,INTC,35.90,15.52,2.313144
13,Starbucks Corporation,SBUX,97.63,1.96,49.811224
14,"PayPal Holdings, Inc.",PYPL,61.55,7.21,8.536755
15,Walmart Inc.,WMT,159.32,27.62,5.768284
16,Procter &amp; Gamble Co.,PG,152.33,20.84,7.309501
17,Johnson &amp; Johnson,JNJ,155.75,25.67,6.067394
18,"Cisco Systems, Inc.",CSCO,57.34,11.45,5.007860
19,Oracle Corporation,ORCL,110.45,4.67,23.650964
20,Adobe Inc.,ADBE,572.15,37.85,15.116248
21,Visa Inc.,V,240.63,13.67,17.602780
22,Mastercard Inc.,MA,403.92,13.82,29.227207
23,Broadcom Inc.,AVGO,885.69,97.83,9.053358
24,"Salesforce, Inc.",CRM,214.77,20.51,10.471477
25,Pfizer Inc.,PFE,35.96,10.45,3.441148
26,Boeing Company,BA,207.33,-19.89,-10.423831
27,AT&amp;T Inc.,T,14.87,20.15,0.737965
28,Verizon Communications Inc.,VZ,31.97,22.39,1.427870
29,Exxon Mobil Corporation,XOM,109.22,42.54,2.567466
30,Chevron Corporation,CVX,157.29,83.73,1.878538
31,McDonald’s Corporation,MCD,286.13,7.85,36.449682
32,3M Company,MMM,90.04,17.56,5.127563
33,Caterpillar Inc.,CAT,288.96,27.13,10.650940
34,"Goldman Sachs Group, Inc.",GS,342.57,315.44,1.086007
35,JPMorgan Chase &amp; Co.,JPM,145.21,94.85,1.530944
36,Bank of America Corporation,BAC,26.45,29.43,0.898743
37,Citigroup Inc.,C,44.82,92.39,0.485117
38,AbbVie Inc.,ABBV,149.89,5.54,27.055957
39,"Merck &amp; Co., Inc.",MRK,111.33,6.87,16.205240
40,Lockheed Martin Corporation,LMT,471.23,-15.45,-30.500324
41,Northrop Grumman Corporation,NOC,515.47,-27.43,-18.792198
42,Honeywell International Inc.,HON,196.12,21.88,8.963437
43,Raytheon Technologies Corporation,RTX,90.37,36.53,2.473857
44,"Delta Air Lines, Inc.",DAL,40.77,16.33,2.496632
45,American Airlines Group Inc.,AAL,14.25,-6.67,-2.136432
46,"United Airlines Holdings, Inc.",UAL,47.89,-14.56,-3.289148

In [97]:
columnSort = data['PBV'].tolist()
sortedColumn = quick_sort(columnSort)
sorted_index = [columnSort.index(val) for val in sortedColumn]
dataSorted = data.iloc[sorted_index].reset_index(drop=True)
dataSorted.head()

,STOCK_NAME,TICKER_SYMBOL,MARKET_PRICE,BOOK_VALUE_PER_SHARE,PBV
0,Starbucks Corporation,SBUX,97.63,1.96,49.811224
1,McDonald’s Corporation,MCD,286.13,7.85,36.449682
2,Mastercard Inc.,MA,403.92,13.82,29.227207
3,AbbVie Inc.,ABBV,149.89,5.54,27.055957
4,Oracle Corporation,ORCL,110.45,4.67,23.650964

### **Soal 3**